<div class="container">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <!-- Logo -->
            <a href="./" class="logo footer__logo">
                <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                <h1 class="logo__title">Minh Hoàng Cofe</h1>
            </a>
            <p class="footer__desc"></p>

            <p class="footer__help-text">Nhận tin tức và cập nhật về sản phẩm.</p>
            <form action="" class="footer__form">
                <input type="text" class="footer__input" placeholder="Nhập Email" />
                <button class="btn btn--primary">Gửi</button>
            </form>
        </div>

        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">Cửa Hàng</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Số 1 Trần Đại Nghĩa</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Số 5 Cầu Giấy</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Số 1 Nguyễn Khách Toàn</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Số 11 Chương Công Giai</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Số 1 Trịnh Văn Bô</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">Hỗ Trợ</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Online</a>
                </li>
                <li>
                    <a href="#!" class="footer__link"> Tình trạng đặt hàng</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">Công ty</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Phụ Vụ Khách Hàng</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Điều khoản sử dụng</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Sự Riêng Tư</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">Liên Hệ</h3>
            <ul class="footer__list">
                <li>
                    <p class="footer__label">Email</p>
                    <a href="mailto:contact@grocerymart.com" class="footer__link"> hoanghayhogmail.com </a>
                </li>
                <li>
                    <p class="footer__label">Hotline</p>
                    <a href="tel:18008888" class="footer__link">0969776625</a>
                </li>
                <li>
                    <p class="footer__label">Địa chỉ</p>
                    <p class="footer__text">Số 1, Phú Lãm, Hà Dông, Hà Nội</p>
                </li>
                <li>
                    <p class="footer__label">Hours</p>
                    <p class="footer__text">Sáng - Chiều 08:00am - 06:00pm</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__copyright">© 2010 - 2025 Minh Hoàng Cofe. luôn sẵn sàng phụ vụ bạn.</p>

        <div class="footer__socials">
            <a href="#!" class="footer__social-link footer__social-link--facebook">
                <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--youtube">
                <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--tiktok">
                <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--twitter">
                <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--linkedin">
                <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
            </a>
        </div>
    </div>
</div>
